@import "tailwindcss";

@theme inline {
  --color-destructive-foreground: var(--destructive-foreground);
  --color-nexus-dark: #5347CE;
  --color-nexus-medium: #887CFD;
  --color-nexus-blue: #4896FE;
  --color-nexus-light: #ffffff;
}

:root {
  --radius: 1rem;
  --accent: oklch(0.89 0 0);
  --destructive-foreground: oklch(0.985 0 0);
  --nexus-dark: #5347CE;
  --nexus-medium: #887CFD;
  --nexus-blue: #4896FE;
  --nexus-light: #ffffff;
  --background: #F3F4F6;
  --foreground: #5347CE;
}

.dark {
  --background: oklch(0.125 0 0);
  --accent: oklch(0.229 0 0);
  --destructive-foreground: oklch(0.985 0 0);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}



