@import "tailwindcss";

@theme inline {
  --color-destructive-foreground: var(--destructive-foreground);
  --color-emerald-dark: #12372A;
  --color-emerald-medium: #436850;
  --color-emerald-sage: #ADBC9F;
  --color-cream-light: #FBFADA;
}

:root {
  --radius: 1rem;
  --accent: oklch(0.89 0 0);
  --destructive-foreground: oklch(0.985 0 0);
  --emerald-dark: #12372A;
  --emerald-medium: #436850;
  --emerald-sage: #ADBC9F;
  --cream-light: #FBFADA;
  --background: #FBFADA;
  --foreground: #12372A;
}

.dark {
  --background: oklch(0.125 0 0);
  --accent: oklch(0.229 0 0);
  --destructive-foreground: oklch(0.985 0 0);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



